{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex" style="background-image: url(img/man-welding-metal-bars-2381463.jpg);height: 500px;background-position: center;background-size: cover;background-repeat: no-repeat;margin-top: 65px;margin: 10px;">
    <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(30,41,99,0.53);">
        <div class="d-flex align-items-center order-12" style="height:200px;">
            <div class="container" style="padding-right: 0px;padding-left: 0px;">
                <h1 class="text-center d-xl-flex">Get All Service at your Doorstep</h1>
                <!-- <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;">Our Network is <strong>always open for Business.</strong></h3> -->
              <a class="btn btn-primary" role="button" href="{%url 'login' %}" style="margin: 15px;font-family: Adamina, serif;">I am A Worker &nbsp; <i class="fa fa-user"></i></a>
                <a class="btn btn-primary" role="button" href="{%url 'login' %}" style="margin: 15px;font-family: Adamina, serif;">I am a User &nbsp; <i class="fa fa-user"></i></a>

            </div>
        </div>
    </div>
</div>
<!-- <div class="card-deck" style="margin: 20px;">
    <div class="card">
        <div class="card-body"><i class="fas fa-hammer d-flex d-lg-flex justify-content-center justify-content-lg-center" style="font-size: 40px;"></i>
            <h4 class="card-title">Title</h4>
            <p class="text-justify d-lg-flex card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;<br></p>
            <button
                class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body"><i class="fas fa-tools d-flex d-lg-flex justify-content-center justify-content-lg-center" style="font-size: 40px;"></i>
            <h4 class="card-title">Title</h4>
            <p class="text-justify card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;<br></p>
            <button
                class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body"><i class="fas fa-toolbox d-flex d-lg-flex justify-content-center justify-content-lg-center" style="font-size: 40px;"></i>
            <h4 class="card-title">Title</h4>
            <p class="text-justify card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;<br></p>
            <button
                class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
</div> -->

<div class="container">
  <div class="">
      <h1 class="m-4">About Us</h1>
  </div>
  <div class="uk-child-width-1-2@s uk-grid">
    <div class="">
      <img class="img-fluid rounded-circle d-none d-md-block about-img" src="https://source.unsplash.com/random/700x700/?technology" alt="">
    </div>

    <div class="">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>
</div>
{% endblock %}
