{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>

      <div class="uk-inline">
          <img src="{% static 'img/image4.jpg' %}" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-overlay uk-position-center uk-light">



                <div class="container text-center" style=" ">
                    <h1 class="text-center d-xl-flex ">Get All Service at your Doorstep</h1>
                    <a class="uk-button rounded uk-button-large " style="color:white; background:#007bff;" href="{% url 'dashboardworker'%}">Go To Dashboard</a>



          </div>
      </div>

  </div>

<div class="container">
  <div class="">
      <h1 class="m-4">About Us</h1>
  </div>
  <div class="uk-child-width-1-2@s uk-grid">
    <div class="">
      <img class="img-fluid rounded-circle d-none d-md-block about-img" src="https://source.unsplash.com/random/700x700/?technology" alt="">
    </div>

    <div class="">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>
</div>
{% endblock %}
