{% extends 'customerbase.html' %}
{% load static %}
{% block content %}

<div id="content">

            <div class="container-fluid" id='blocker'>
                <h3 class="text-dark mb-4" style="color: rgb(0,0,0);"><strong>Account Settings</strong></h3>
            </div>
            <div class="card" style="margin-right: 20px;margin-left: 20px;margin-bottom: 20px;">
                <div class="card-body text-right">
                    <div class="card text-left" style="margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 style="color: rgb(0,0,0);"><strong>Personal Information&nbsp; &nbsp;</strong></h5>
                            <div class="row">
                                <div class="col"><small class="form-text text-muted" style="font-size: 14px;"><strong>First Name</strong></small><small id="fname">{{ user.first_name }}</small></div>
                                <div class="col"><small class="form-text text-muted" style="font-size: 14px;"><strong>Last Name</strong></small><small class="form-text text-muted" style="font-size: 13px;">{{ user.last_name }}</small></div>
                            </div>
                            <div class="row">
                                <div class="col"><small class="form-text text-muted" style="font-size: 14px;"><strong>Phone No.</strong></small><small class="form-text text-muted" style="font-size: 13px;">{{ data.number }}</small></div>
                                <div class="col"><small class="form-text text-muted" style="font-size: 14px;"><strong>Email</strong></small><small class="form-text text-muted" style="font-size: 13px;">{{ user.email }}</small></div>
                            </div>
                        </div>
                    </div>

                    <div class="card text-left">
                        <div class="card-body">
                            <h5 style="color: rgb(0,0,0);"><strong>Personal Address</strong></h5>
                            <div class="row">
                                <div class="col">
                                    <p style="margin-top:5px;">{{ data.addressl1 }}</p>
                                    <p style="margin-top:-13px;">{{ data.addressl2 }}</p>
                                    <p style="margin-top:-13px;">{{ data.city }} - {{ data.code }} , {{ data.state }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST">
              {% csrf_token %}

            <div class="card" style="margin-right: 20px;margin-left: 20px;margin-bottom: 20px;">
                <div class="card-body">
                    <h4 class="mb-3" style="color: rgb(40,79,194);"><strong>Edit Profile&nbsp;</strong></h4>

                    <label for="">Edit Contact Number</label>
                    <div class="form-row mb-3"  style="margin-bottom: 10px;">
                        <div class="col"><input class="form-control" type="text" name='contact' placeholder="Enter Contact Number" required></div>
                    </div>

                        <label for="">Edit Address</label>
                        <div class="form-row mb-3" style="margin-bottom: 10px;">
                            <div class="col"><input class="form-control" type="text" name='addressl1' placeholder="Address Line 1" required></div>
                            <div class="col"><input class="form-control" type="text" name='addressl2' placeholder="Address Line 2" required></div>
                        </div>

                        <div class="form-row" style="margin-bottom: 10px;">

                            <div class="col"><input class="form-control" type="text" name='city' placeholder="City" required></div>
                            <div class="col"><input class="form-control" type="text" name='state' placeholder="State" required></div>
                            <div class="col"><input class="form-control" type="text" name='code' placeholder="Zip Code" required></div>
                        </div>
                        <button class="btn " type="submit" style="width: 100px; background-color:#F99615; color:white;">UPDATE</button>
                </div>
            </div>
            </form>
        </div>
{% endblock %}
