{% load static %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"  style="background:#F99615;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="reg_users.html">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3" style="font-family: Nunito, sans-serif;font-weight: bold;"><span style="font-size: 16px;font-family: Nunito, sans-serif;font-weight: bold;">Machine work x</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'dashboardadmin' %}" ><i class="fas fa-users" style="font-size: 14px;"></i><span style="font-size: 14px;">Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" ><i class="fas fa-users" style="font-size: 14px;"></i><span style="font-size: 14px;">Registered Customers</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'adminrfqreceived' %}" style="font-size: 14px;"><i class="fas fa-table" style="font-size: 14px;"></i><span style="font-size: 14px;font-family: Nunito, sans-serif;">RFQ's Received</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"  style="font-size: 14px;"><i class="fas fa-table" style="font-size: 14px;"></i><span style="font-size: 14px;font-family: Nunito, sans-serif;">Workload Table</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"  style="font-size: 14px;"><i class="fas fa-table" style="font-size: 14px;"></i><span style="font-size: 14px;font-family: Nunito, sans-serif;">Quotes Received</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"  style="font-size: 14px;"><i class="fas fa-table" style="font-size: 14px;"></i><span style="font-size: 14px;font-family: Nunito, sans-serif;">Write</span></a></li>
                    <li class="nav-item"
                        role="presentation"></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
