{% load static %}
<footer>
    <div class="row">
        <div class=" text-center footer-navigation mx-auto">
          <div class=" footer-contacts">
              <h4 style="color:white;">Build with &#10083; by Rahul Agarwal and Aayush Mahajan</h4>
          </div>
            <h3><a href="index.html">Daily<span>Rozgaar</span></a></h3>
            <p class="links"><a href="#">Capabilities</a><strong> · </strong><a href="#">Industries</a><strong> · </strong><a href="#">Resources</a><strong> · </strong><a href="#">Our Team</a><strong>&nbsp;</strong>
                <a
                    href="#"></a>
            </p>
            <p class="company-name">Copyright by DailyRozgaar © 2021</p>
        </div>


    </div>
</footer>
