@media (min-width: 300px) {
  .text-center.d-xl-flex {
    color: rgb(242,245,248);
    font-size: 35px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }
}

@media (min-width: 1200px) {
  .text-center.d-xl-flex {
    color: rgb(242,245,248);
    font-size: 60px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }
}

.h1, h1 {
  text-align: center;
}

@media (min-width: 576px) {
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    font-size: 16px;
    font-family: Adamina, serif;
  }
}

@media (min-width: 576px) {
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    font-size: 16px;
    font-family: Adamina, serif;
  }
}

@media (min-width: 768px) {
  .d-flex.d-sm-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center {
    font-family: Adamina, serif;
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .d-flex.d-sm-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center {
    line-height: 22px;
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .d-flex.d-sm-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center {
    line-height: 22px;
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .d-flex.d-sm-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center {
    font-family: Adamina, serif;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #signinc {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #signinp {
    font-size: 20px;
  }
}

@media (min-width: 300px) {
  .card-deck {
    padding: 18px;
  }
}



/* NEW */

@media screen and (min-width: 992px){
		#main{
			width: 35%;
			margin: 50px auto;
		}
	    }
@media screen and (max-width: 992px){
		#main{
			width: 50%;
			margin: 50px auto;
		}
	    }
@media screen and (max-width: 620px){
		#main{
			width: 70%;
			margin: 50px auto;
		}
	    }
@media screen and (max-width: 450px){
		#main{
			width: 70%;
			margin: 50px auto;
		}
	    }
@media screen and (max-width: 375px){
		#main{
			width: 80%;
			margin: 50px auto;
		}
	    }
@media screen and (max-width: 250px){
		#main{
			width: 80%;
			margin: 50px auto;
		}
	    }

@media screen and (max-width: 992px){
			.login,.register{
			text-decoration: none;
			display: block;
			width: 50%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 20px;
			padding: 10px;
			border-radius: 3px;
			box-shadow: 3px 3px 3px #E2E8EC;
		}
		}

@media screen and (max-width: 992px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 50%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 20px;
			padding: 10px;
			border-radius: 3px;
		}
		}
@media screen and (min-width: 992px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 50%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 20px;
			padding: 10px;
			border-radius: 3px;
		}
		}
@media screen and (max-width: 620px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 50%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 16px;
			padding: 10px;
			border-radius: 3px;
		}
		}
@media screen and (max-width: 450px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 50%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 16px;
			padding: 10px;
			border-radius: 3px;
		}
		}
@media screen and (max-width: 375px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 100%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 16px;
			padding: 10px;
			border-radius: 3px;
		}
		}
@media screen and (max-width: 320px){
			.customer, .seller, .manufacturer{
			text-decoration: none;
			display: block;
			width: 100%;
			background-color: #0E9A46;
			text-align: center;
			color: #fff;
			font-size: 14px;
			padding: 10px;
			border-radius: 3px;
		}

@media screen and (max-width: 375px){
    .content, .other ,.otherc, .others, .otherm{
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px 30px 30px 30px;
    box-shadow: 2px 2px 2px #E2E8EC;
  }
  }
@media screen and (max-width: 320px){
    .content, .other ,.otherc, .others, .otherm{
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px 10px 10px 10px;
    box-shadow: 2px 2px 2px #E2E8EC;
  }
  }
